<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Committers</title>
    <%= stylesheet_link_tag :all %>
    <%= jquery_include_tag %>
    <%= javascript_include_tag 'rails', 'application' %>
    <%= csrf_meta_tag %>
    <%= analytics_tag %>
  </head>
  <body>

    <div id="banner">
      Ruby Committers
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <div id="forkMeOnGithub">
      <%= link_to 'Fork me on github', 'https://github.com/tenderlove/rubycommitters.org' %>
    </div>

  </body>
</html>
