<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag 'master' %>
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
</head>
<body>

<a href="https://github.com/tenderlove/rubycommitters.org">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets0.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub" />
</a>

<%= yield %>

<div class="ruby-powered">2010 Ruby Powered </div>

</body>
</html>
