!!!
%html
  %head
    %title Ruby Committers
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min', 'jquery.tools.min', 'application'
    = csrf_meta_tag
    = analytics_tag
  %body
    = yield
    .footer
      .credits
        .ejc.logo= link_to image_tag('ejc_inset.png', :alt => 'Designed by E.J. Coughlin <3'), 'http://twitter.com/ejc'
        .ejc.words= link_to 'Designed by E.J. Coughlin <3', 'http://twitter.com/ejc'