<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cherry+Cream+Soda', 'http://fonts.googleapis.com/css?family=Allerta' %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div class="container">
      <h1>Ruby Committers</h1>
    </div>
  </div>
  
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
  </div>
  
  <div id="footer">
    A creation of 
    <%= link_to 'Melissa Voegeli', 'http://twitter.com/MelissaVoegeli' %>
    and 
    <%= link_to 'Jared Mehle', 'http://twitter.com/jrmehle' %>
    .
  </div>
</div>

<div class="ribbon"> 
  <a href="http://github.com/jrmehle/rubycommitters.org">Fork me on GitHub</a> 
</div>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
<%= javascript_include_tag :defaults, 'jquery.lettering.min' %>
<%= analytics_tag %>
</body>
</html>
