<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag "reset", "application" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript">
    $(function() {
    	$('.slideshow').innerfade({
						speed: 1000,
						timeout: 5000,
						type: 'sequence',
						containerheight: '155px'
					});
    });
  </script>
 </head>
<body>
  <div id="wrapper">
   <%= yield %>
  </div>
</body>
</html>