<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <a href="http://github.com/tenderlove"><img style="position: fixed; z-index:10; top: 0; right: 0; border: 0;" src="https://assets0.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub"></a>
  
  <div id="container">
    <header id="site-header">
      <h1 id="logo"><%= link_to "Ruby Committers", root_url %></h1>
      <h2 id="tagline">A Ruby program<br/>before I even notice<br/>is already done. <span class="byline">Robert Cottrell</span></h2>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <div id="footer-padding"></div>
  </div>
  <footer id="site-footer">
    &copy; <%= Time.now.strftime('%Y') %> Ruby Committers? MIT License? Who knows?
  </footer>
  <%= javascript_include_tag  'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js',
                              'https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js',
                              'jquery.equalheights',
                              'jquery.masonry.min',
                              'application' %>
</body>
</html>
