<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <a href="http://github.com/tenderlove/rubycommitters.org"><img style="position: fixed; top: 0; left: 0; border: 0; z-index: 10;" src="https://assets1.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_left_red_aa0000.png&path=" alt="Fork me on GitHub"></a>
    
  <div id="container">
    <header id="site-header">
      <h1 id="logo"><%= link_to "Ruby Committers", root_url %></h1>
      <h2 id="tagline">A Ruby program<br/>before I even notice<br/>is already done.</h2>
      <h3 id="intro">Meet the contributors that brought you the sexiest programming language in the history of everything.</h3>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <div id="footer-padding"></div>
  </div>
  <footer id="site-footer">
    &copy; <%= Time.now.strftime('%Y') %> Ruby Committers? MIT License? Who knows?
  </footer>
  <%= javascript_include_tag  'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js',
                              'https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js',
        'http://cachedcommons.org/cache/jquery-colorbox/1.3.9/javascripts/jquery-colorbox-min.js',
                              'jquery.equalheights',
                              'application' %>
</body>
</html>
