<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Committers</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= analytics_tag %>
  </head>
  <body>

    <div id="banner">
      Ruby Committers
    </div>

    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
