<!DOCTYPE html>
<html>
<head>
  <title>Ruby Committers</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'jquery.masonry.min', 'jquery.qtip-1.0.0-rc3.min' %>
  <%= csrf_meta_tag %>
  <%= analytics_tag %>
</head>
<body>

<%= yield %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.cards').masonry({
      itemSelector: '.card'
    });
    
    $.fn.qtip.styles.rc = {
      background: '#222',
      border: {
        color: '#222',
        radius: 3
      },
      color: 'rgba(255, 255, 255, .9)',
      fontWeight: 'bold',
      textShadow: '0 -1px #000',
      tip: {
        color: '#222',
        size: {
          x: 10,
          y: 5
        }
      }
    };
    
    $('.services a').qtip({
      position: {
        corner: {
          target: 'bottomMiddle',
          tooltip: 'topMiddle'
        },
        adjust: {
          y: 5
        }
      },
      style: {
        name: 'rc',
        fontSize: '14px',
        lineHeight: '14px',
        tip: {
          corner: 'topMiddle'
        }
      }
    });
    
    $('footer a').qtip({
      position: {
        corner: {
          target: 'topMiddle',
          tooltip: 'bottomMiddle'
        },
        adjust: {
          y: -10
        }
      },
      style: {
        name: 'rc',
        fontSize: '16px',
        lineHeight: '20px',
        tip: {
          corner: 'bottomMiddle'
        }
      }
    });
  });
</script>
</body>
</html>
