<li>
  <article class="account clear">

    <section class="account-name">
      <label>Username &mdash;</label>
      <h3><%= account.username %></h3>
    </section>

    <div class="portrait">
      <% unless account.portraits.empty? %>
      <section>
        <ul>
          <%= render :partial => 'portrait', :collection => account.portraits %>
        </ul>
      </section>
      <% else %>
        <p class="no-portrait">Portrait not available</p>
      <% end %>
    </div>

    <div class="info">
      
      <% unless account.names.empty? %>
        <section>
          <label>Name</label>
          <div class="description">
            <ul>
              <%= render :partial => 'name', :collection => account.names %>
            </ul>
          </div>
        </section>
      <% end %>
  
      <% unless account.nicks.empty? %>
        <section>
          <label>Nicknames</label>
          <div class="description">
            <ul>
              <%= render :partial => 'name', :collection => account.nicks %>
            </ul>
          </div>
        </section>
      <% end %>
  
      <div class="group clear">
        <% unless account.sites.empty? %>
          <section class="sites">
            <label>Websites</label>
            <div class="description">
              <ul>
                <%= render :partial => 'site', :collection => account.sites %>
              </ul>
            </div>
          </section>
        <% end %>
    
        <% unless account.services.empty? %>
          <section class="services">
            <label>Services</label>
            <div class="description">
              <ul>
                <%= render :partial => 'service', :collection => account.services %>
              </ul>
            </div>
          </section>
        <% end %>
        
        <!-- FIXME: unsure how to link to ISBN. :-( -->
        <!--
        <% unless account.books.empty? %>
          <section>
            <td>Books:</td>
            <td>
              <ul>
                <% account.books.each do |book| %>
                  <li><%= book.key %></li>
                <% end %>
              </ul>
            </td>
          </section>
        <% end %>
        -->

      </div>
    </div>
  </article>
  <hr class="clear">
</li>
