<tr id="<%= dom_id(account) %>"<%== cycle(' class="odd"', '') %>>
  <td class="avatar">
    <div class="image">
      <%= image_tag(avatar_url(account.avatar), :alt => nil) %>
    </div>
  </td>
  <td class="name"><%= link_to account.name %></td>
  <% Account::SERVICES.each do |service_name| %>
    <% service = account.services.by_name(service_name) %>

    <td class="service <%= service_name %><%= ' active' if service.present? %>">
      <% if service.present? %>
        <%= link_to image_tag("icons/#{service_name}.png"), service.url %>
      <% else %>
        <%= image_tag("icons/#{service_name}.png", :alt => nil) %>
      <% end %>
    </td>
  <% end %>
</tr>
