<li class="account">

  <div class="name">
    <%= account.username %>
  </div>

  <div class="details">

    <% if account.portraits.any? %>
      <%= image_tag account.portraits.first.url, class: 'portrait' %>
    <% else %>
      <div class="portrait" style="height: 80px"></div>
    <% end %>

    <div class="info">

      <% if account.sites.any? %>
        <%= link_to_tab 'Sites' %>
        <ul class="Sites">
          <% account.sites.each do |site| %>
            <li><%= link_to_site site %></li>
          <% end %>
        </ul>
      <% end %>

      <% if account.books.any? %>
        <%= link_to_tab 'Books' %>
        <ul>
          <% account.books.each do |book| %>
            <li><%= link_to_book book %></li>
          <% end %>
        </ul>
      <% end %>

      <% if account.names.any? %>
        <%= link_to_tab 'Names' %>
        <ul class="Names">
          <% account.names.each do |name| %>
            <li><%= name.value %></li>
          <% end %>
        </ul>
      <% end %>

      <% if account.nicks.any? %>
        <%= link_to_tab 'Nicknames' %>
        <ul>
          <% account.nicks.each do |nickname| %>
            <li><%= nickname.value %></li>
          <% end %>
        </ul>
      <% end %>

    </div>

    <div class="services">
      <% if account.nicks.any? %>
        <ul>
          <% account.services.each do |service| %>
            <li><%= link_to_service service %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

  </div>

</li>
