<li class="account">
  <table>
    <tr>
      <td>Account:</td>
      <td><%= account.username %></td>
    </tr>

	<% unless account.portraits.empty? %>
      <tr>
        <td>
          <ul>
            <%= render :partial => 'portrait', :collection => account.portraits %>
          </ul>
    <% unless account.names.empty? %>
          <td>
            <ul>
              <%= render :partial => 'name', :collection => account.names %>
              <%= render :partial => 'name', :collection => account.nicks unless account.nicks.empty? %>
            </ul>
          </td>
      <% end %>
        </td>
      </tr>
    <% end %>


    <% unless account.sites.empty? %>
      <tr>
        <td>Sites:</td>
        <td>
          <ul>
            <%= render :partial => 'site', :collection => account.sites %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.services.empty? %>
      <tr>
        <td>Services:</td>
        <td>
          <ul>
            <%= render :partial => 'service', :collection => account.services %>
          </ul>
        </td>
      </tr>
    <% end %>


    <% unless account.books.empty? %>
      <tr>
        <td>Books:</td>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li><a href="http://www.amazon.<%= book.isbn.match(/^4/) ? "co.jp":"com" %>/dp/<%= book.isbn %>"><%= book.key %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</li>
