<li class="account">
  <div class="name">
    <%= account.username %>
  </div>
  <div class="details">
    <% if account.portraits.any? %>
      <%= image_tag account.portraits.first.url, class: 'portrait' %>
    <% else %>
      <%= image_tag 'missing.png' %>
    <% end %>
    <div class="info">
      <% if account.sites.any? %>
        <div class="sites">
          <h2>sites</h2>
          <ul>
            <% account.sites.each do |site| %>
              <li><%= link_to_site site %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="books">
        <% if account.books.any? %>
          <h2>books</h2>
          <ul>
            <% account.books.each do |book| %>
              <li><%= link_to_book book %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="names">
        <% if account.names.any? %>
          <h2>names</h2>
          <ul>
            <% account.names.each do |name| %>
              <li><%= name.value %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="nicknames">
        <% if account.nicks.any? %>
          <h2>nicknames</h2>
          <ul>
            <% account.nicks.each do |nickname| %>
              <li><%= nickname.value %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="services">
      <% if account.nicks.any? %>
        <ul>
          <% account.services.each do |service| %>
            <li><%= link_to_service service %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</li>
