<tr<%== cycle(' class="odd"', '') %>>
  <td>
    <div class="image">
      <% if portrait = account.portraits.first %>
        <%= image_tag(portrait.url) %>
      <% else %>
        <%= image_tag('missing-avatar.png') %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to account.name, account %>
  </td>
  <td>
    <% if site = account.sites.first %>
      <%= link_to site.title, site.url %>
    <% end %>
  </td>
  <% Account::SERVICES.each do |service| %>
    <td class="service">
      <% if record = account.__send__(service) %>
        <%= link_to_service record.name, record %>
      <% end %>
    </td>
  <% end %>
</tr>
