<% full ||= false -%>
<article class="account">
    <%= render :partial => 'portrait', :locals => { :account => account, :full => full } %>
    <% unless full -%><h2><%= link_to account.username, account %></h2><% end -%>

    <% unless account.names.empty? %>
      <p><%= render :partial => 'name', :collection => account.names %></p>
    <% end %>

    <% unless account.nicks.empty? %>
      <p><strong>AKA:</strong><br><%= render :partial => 'name', :collection => account.nicks %></p>
    <% end %>

<% if false %>
    <% unless account.sites.empty? %>
      <p>Sites: <%= render :partial => 'site', :collection => account.sites %></p>
    <% end %>

    <% unless account.services.empty? %>
      <p>Services: <%= render :partial => 'service', :collection => account.services %></p>
    <% end %>
<% end -%>

    <% unless account.books.empty? %>
      <p><%= render :partial => 'book', :collection => account.books %></p>
    <% end %>
</article>