<% full ||= false -%>
<article class="account">
    <header>
      <%= render :partial => 'portrait', :locals => { :account => account, :full => full } %>
      <h2 class="username">  
      <% if full -%>
        <%= account.username %>
      <% else %>
        <%= link_to account.username, account %>
      <% end -%>
      </h2>
      <% if full and (primary_site = account.sites.first) -%>
        <%= link_to primary_site.url, primary_site.url, :class => "primary_site" %>
      <% end -%>
    
      <% unless account.names.empty? %>
        <p><%= account.names.collect {|n| n.value }.reverse.to_sentence %></p>
      <% end %>

      <% unless account.nicks.empty? %>
        <p><strong>aka:</strong> <%= account.nicks.collect {|n| n.value }.to_sentence %></p>
      <% end %>
    </header>  
    <% if full -%>
      <% unless account.books.empty? %>
        <div class="col">
          <h3 id="title-books">Books</h3>
          <ul>
            <%= render :partial => 'book', :collection => account.books %>
          </ul>
        </div>
      <% end -%>
      <% unless account.sites.empty? %>
        <div class="col last">    
          <h3 id="title-sites">Sites</h3>
          <ul>
            <%= render :partial => 'site', :collection => account.sites %>
          </ul>
        </div>
      <% end %>
    <% end -%>  
</article>
<% if full and account.services.any? -%>
  <footer class="my_services">
    <ul>
      <%= render :partial => 'service', :collection => account.services %>
    </ul>
  </footer>
<% end -%>
