<li class="committer">
	<div class="header">
		<h2 class="clearfix"><span class="caption">Account</span><span class="account"><%= account.username %></span></h2>
		 <% unless account.names.empty? %>
			<div class="names">
				<h3 class="caption">Names</h3>
				<ul>
					<%= render :partial => 'name', :collection => account.names %>
				</ul>
			</div>
		<% end %>
	</div>
	<div class="body">
		<div class="inner">
	
			<div class="portraits section">
				<h3 class="caption">Portraits</h3>
				<ul>
					<% unless account.portraits.empty? %>
					<%= render :partial => 'portrait', :collection => account.portraits %>
					<% else %>
						<li class="empty">empty</li>
					<% end %>	
				</ul>	
			</div>

			<div class="sites section">
				<h3 class="caption">Nicknames</h3>
				<% unless account.nicks.empty? %>
					<ul>
						<%= render :partial => 'name', :collection => account.nicks %>
					</ul>
				<% end %>
			</div>

			<div class="sites section">
				<h3 class="caption">Sites</h3>
				<% unless account.sites.empty? %>
					<ul>
						<%= render :partial => 'site', :collection => account.sites %>
					</ul>
				<% end %>
			</div>

			<div class="services section">
				<h3 class="caption">Services</h3>
				<% unless account.services.empty? %>
					<ul>
						<%= render :partial => 'service', :collection => account.services %>
					</ul>
				<% end %>
			</div>

			<div class="books section">
				<h3 class="caption">Books</h3>
				<% unless account.books.empty? %>
 					<ul>
						<% account.books.each do |book| %>
							<li><%= book.key %></li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</li>
