<li class="account">
  <table>
    <tr>
      <td class="title">Account:</td>
      <td class="username"><%= account.username %></td>
    </tr>

	<% unless account.portraits.empty? %>
      <tr>
        <td class="portraits">
          <ul>
            <%= render :partial => 'portrait', :collection => account.portraits %>
          </ul>
    <% unless account.names.empty? %>
          <td>
            <ul>
              <%= render :partial => 'name', :collection => account.names, :locals => { :is_nickname => false } %>
              <%= render :partial => 'name', :collection => account.nicks, :locals => { :is_nickname => true } unless account.nicks.empty? %>
            </ul>
          </td>
      <% end %>
        </td>
      </tr>
    <% end %>


    <% unless account.sites.empty? %>
      <tr>
        <td class="title">Sites:</td>
        <td>
          <ul>
            <%= render :partial => 'site', :collection => account.sites %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.services.empty? %>
      <tr>
        <td class="title">Services:</td>
        <td>
          <ul>
            <%= render :partial => 'service', :collection => account.services %>
          </ul>
        </td>
      </tr>
    <% end %>


    <% unless account.books.empty? %>
      <tr>
        <td class="title">Books:</td>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li class="book"><a href="http://www.amazon.<%= book.isbn.match(/^4/) ? "co.jp":"com" %>/dp/<%= book.isbn %>"><%= book.key %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</li>
