<li class="account">

  <div class="name">
    <span class="username"><%= account.username %></span>
    <ul class="other-names">
      <% account.names.each do |name| %>
        <li><%= name.value %></li>
      <% end %>
    </ul>
    <ul class="nicknames">
      <% account.nicknames.each do |nickname| %>
        <li><%= nickname %></li>
      <% end %>
    </ul>
  </div>

  <div class="details">

    <%= image_tag_for_portrait account.portraits.first %>

    <div class="tabs">
      <div class="links">

        <% if account.sites.any? %>
          <%= tab_link_to 'Sites' %>
          <% content_for tab_content_id(account) do %>
            <ul class="info-pane Sites">
              <% account.sites.each do |site| %>
                <li><%= link_to_site site %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

        <% if account.books.with_titles.any? %>
          <%= tab_link_to 'Books' %>
          <% content_for tab_content_id(account) do %>
            <ul class="info-pane Books">
              <% account.books.with_titles.each do |book| %>
                <li><%= link_to_book book %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

      </div>

      <%= content_for tab_content_id(account) %>

    </div>

  </div>

  <div class="services">
    <% if account.nicks.any? %>
      <ul>
        <% account.services.each do |service| %>
          <li><%= link_to_service service %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</li>
