<% full ||= false -%>
<article class="account">
    <%= render :partial => 'portrait', :locals => { :account => account, :full => full } %>
    <% unless full -%><h2 id="username_<%= account.id %>"><%= link_to account.username, account %></h2><% end -%>

    <% unless account.names.empty? %>
      <p><%= account.names.collect {|n| n.value }.to_sentence %></p>
    <% end %>

    <% unless account.nicks.empty? %>
      <p><strong>AKA:</strong><br><%= account.nicks.collect {|n| n.value }.to_sentence %></p>
    <% end %>

    <% unless account.books.empty? %>
      <p><%= render :partial => 'book', :collection => account.books %></p>
    <% end %>
</article>