<table>
	<tr class="committer">
		<td class="portrait">
			<% unless account.portraits.empty? %>
 				<%= render :partial => 'portrait', :collection => account.portraits %>
			<% end %>
		</td>
		<td class="names">
			<%= account.username %><br/><br/>		
			<% unless account.names.empty? %>
				Names: <%= render :partial => 'name', :collection => account.names %>
			<% end %>
			<br/>
			<% unless account.nicks.empty? %>
				Nicknames: <%= render :partial => 'name', :collection => account.nicks %>
			<% end %>
		</td>
		<td class="connect">
			<% unless account.sites.empty? %>
			  Websites:</br></br><%= render :partial => 'site', :collection => account.sites %>
			<% end %>
			<br/>
			<% unless account.services.empty? %>
			  Connect: <%= render :partial => 'service', :collection => account.services %>
			<% end %>
		</td>
	<!-- FIXME: unsure how to link to ISBN. :-( -->
	<!--
	<% unless account.books.empty? %>
	  <tr>
	    <td>Books:</td>
	    <td>
	      <ul>
	        <% account.books.each do |book| %>
	          <li><%= book.key %></li>
	        <% end %>
	      </ul>
	    </td>
	  </tr>
	<% end %>
	-->
	</tr>
</table>