<li class="account">
    <% unless account.portraits.empty? %>
      <%= render :partial => 'portrait', :collection => account.portraits %>
    <% end %>
    <h2><%= account.username %></h2>

    <% unless account.names.empty? %>
      <p><%= render :partial => 'name', :collection => account.names %></p>
    <% end %>

    <% unless account.nicks.empty? %>
      <p>AKA: <%= render :partial => 'name', :collection => account.nicks %></p>
    <% end %>

    <% unless account.sites.empty? %>
      <p>Sites: <%= render :partial => 'site', :collection => account.sites %></p>
    <% end %>

    <% unless account.services.empty? %>
      <p>Services: <%= render :partial => 'service', :collection => account.services %></p>
    <% end %>

    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <tr>
        <td>Books:</td>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li><%= book.key %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    -->
</li>