<td class="commiter">
  <div class="commiter-wrapper">

    <ul class="portraits">
      <% if account.portraits.length > 0 %>
        <%= render :partial => 'portrait', :collection => account.portraits %>
      <% else %>
        <li><div class="image-wrapper"><%= image_tag 'no_portrait.png' %></div></li>
      <% end %>
    </ul>

    <div class="commiter-data">

      <h2><%= account.username %></h2>

      <% if account.names.length > 0 %>
        <h3>
          Other accouts: <%= account.names.map(&:value).join(', ') %>
        </h3>
      <% end %>

      <div class="commiter-data-extra">
        <% if account.nicks.length > 0 %>
          <dl class="nicknames">
            <dt>Nicknames:</dt>
            <dd><%= account.nicks.map(&:value).join(', ') %></dd>
          </dl>
        <% end %>

        <% if account.sites.length > 0 %>
          <dl class="sites">
            <dt>Sites:</dt>
            <dd>
              <ul>
                <%= render :partial => 'site', :collection => account.sites %>
              </ul>
            </dd>
          </dl>
        <% end %>

        <% if account.services.length > 0 %>
          <dl class="services">
            <dt>Services:</dt>
            <dd>
              <ul>
                <%= render :partial => 'service', :collection => account.services %>
              </ul>
            </dd>
          </dl>
        <% end %>

        <!-- FIXME: unsure how to link to ISBN. :-( -->
        <!--
        <% if account.books.length > 0 %>
          <tr>
            <td>Books:</td>
            <td>
              <ul>
                <% account.books.each do |book| %>
                  <li><%= book.key %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
        -->

      </div>
    </div>
  </div>
</td>
