<li class="card<%= randomized_styles %>">
  <div class="portrait">
    <div class="frame">
      <div class="photo">
        <% if account.portraits.empty? %>
          <img src="http://placehold.it/100" />
        <% else %>
          <%= render :partial => 'portrait', :collection => account.portraits %></div>
        <% end %>
      </div>
    </div>
  </div>
  <section>
    <h2><%= account.username %></h2>
    <ul class="info">
      <% unless account.names.empty? %>
        <%= render :partial => 'name', :collection => account.names, :locals => {:class_name => 'name'} %>
      <% end %>
      <% unless account.nicks.empty? %>
        <%= render :partial => 'name', :collection => account.nicks, :locals => {:class_name => 'nicks'} %>
      <% end %>

    <% unless account.sites.empty? %>
      <tr>
        <td>Sites:</td>
        <td>
          <ul>
            <%= render :partial => 'site', :collection => account.sites %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.services.empty? %>
      <ul class="services">
        <%= render :partial => 'service', :collection => account.services %>
      </ul>
    <% end %>

    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <tr>
        <td>Books:</td>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li><%= book.key %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    -->
  </table>
  </section>
</li>
