<li class="committer clearfix">
<div class="header">
<div class="account_names">	
<h2><%= account.username %></h2>
<% unless account.names.empty? %>
<div class="names">
<ul>
<%= render :partial => 'name', :collection => account.names %>
</ul>
</div>
<% end %>
</div>

<div class="portraits">
<ul>
<% unless account.portraits.empty? %>
<%= render :partial => 'portrait', :collection => account.portraits %>
<% else %>
	<li class="empty"><img src="/images/empty.gif" alt="comming soon" /></li>
<% end %>
</ul>

</div>

<% unless account.nicks.empty? %>
<div class="nicknames">
<h3>A.K.A ... </h3>
<ul>
<%= render :partial => 'name', :collection => account.nicks %>
</ul>
</div>
<% end %>

</div>

<div class="body">

<div class="sites">
<% unless account.sites.empty? %>
<h3>Sites</h3>
<ul>
<%= render :partial => 'site', :collection => account.sites %>
</ul>
<% end %>
</div>


<div class="books">
<% unless account.books.empty? %>
<h3>Books</h3>
<ul>
<% account.books.each do |book| %>
<li><%= book.key %></li>
<% end %>
</ul>
<% end %>
</div>
</div>

<div class="services footer">
<% unless account.services.empty? %>
<ul>
<%= render :partial => 'service', :collection => account.services %>
</ul>
<% end %>
</div>

</li>
