<div class="member">
  <dl>
    <dt><%= account.username %></dt>
    <% unless account.names.empty? %>
      <dd>
        <strong>Names: </strong>
        <%= account.names.map(&:value).join(" &bull; ").html_safe %>
      </dd>
    <% end %>
    <% unless account.nicks.empty? %>
      <dd>
        <strong>Nickname: </strong>
        <%= account.nicks.map(&:value).join(" &bull; ").html_safe %>
      </dd>
    <% end %>
    <% unless account.sites.empty? %>
      <dd>
        <strong>Sites: </strong>
        <%= account.sites.map do |site| %>
          <% link_to site.title, site.url %>
        <% end.join(' &bull; ').html_safe %>
      </dd>
    <% end %>
    <% unless account.books.empty? %>
      <dd>
        <strong>Books: </strong>
        <%= account.books.map do |book| %>
          <% link_to book.key, 'http://www.amazon.' + (book.isbn.match(/^4/) ? "co.jp":"com") + '/dp/' + book.isbn %>
        <% end.join(" &bull; ").html_safe %>
      </dd>
    <% end %>
    <% unless account.services.empty? %>
      <dd class="services">
        <%= account.services.map do |service| %>
          <% link_to_service service.name, service %>
        <% end.join(' ').html_safe %>
      </dd>
    <% end %>
  </dl>
  <% if account.portraits.empty? %>
    <%= image_tag "default.jpg" %>
  <% else %>
    <div <%= "class='slideshow'" if account.portraits.count > 1 %> >
      <% account.portraits.each do |portrait| %>
        <%= image_tag portrait.url %>
      <% end %>
    </div>
  <% end %>
</div>
