<li class = "committer">
  <span class = "username"><%= account.username %></span>
  
  <% if account.portraits.empty? %>
    <%= image_tag '/images/placeholder.jpg' , :class => 'portrait' %>
  <% else %>
    <%= render :partial => 'portrait', :locals => {:portrait => account.portraits.first} %>
  <% end %>
  
  <% unless account.names.empty? %>
    <ul class = "names">
      <ul class = "real-names">
        <%= render :partial => 'name', :collection => account.names %>
      </ul>
      <% unless account.nicks.empty? %>
        <ul class = "nicknames">
          <li class = "aka">AKA</li>
          <%= render :partial => 'name', :collection => account.nicks %>
        </ul>
      <% end %>
    </ul>
  <% end %>

  <% unless account.sites.empty? %>
    <ol class = "sites-label">
      <li>S</li>
      <li>I</li>
      <li>T</li>
      <li>E</li>
      <li>S</li>
    </ol>
    <div class = "sites-fillbar"></div>
    <ul class = "sites">
      <%= render :partial => 'site', :collection => account.sites %>
    </ul>
  <% end %>

  <ul class = "services">
    <% unless account.services.empty? %>
      <%= render :partial => 'service', :collection => account.services %>
    <% end %>
  </ul>

  <% unless account.books.empty? %>
    <ol class = "books-label">
      <li>B</li>
      <li>O</li>
      <li>O</li>
      <li>K</li>
      <li>S</li>
    </ol>
    <div class = "books-fillbar"></div>
    <ul class = "books">
      <% account.books.each do |book| %>
        <li class = "book-name"><a href="http://www.amazon.<%= book.isbn.match(/^4/) ? "co.jp":"com" %>/dp/<%= book.isbn %>"><%= truncate book.key , :length => 13 %></a></li>
      <% end %>
    </ul>
  <% end %>
</li>
