<tr<%== cycle(' class="odd"', '') %>>
  <td>
    <div class="image">
      <% if portrait = account.portraits.first %>
        <%= image_tag(portrait.url, :alt => nil) %>
      <% else %>
        <%= image_tag('missing-avatar.png', :alt => nil) %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to account.name, account %>
  </td>
  <td>
    <% if site = account.sites.first %>
      <%= link_to site.title, site.url %>
    <% end %>
  </td>
  <% Account::SERVICES.each do |service_name| %>
    <td class="service">
      <% if service = account.services.find_by_name(service_name) %>
        <%= link_to image_tag("icons/#{service_name}.png"), service.url %>
      <% else %>
        <%= image_tag("icons/#{service_name}.png", :alt => nil) %>
      <% end %>
    </td>
  <% end %>
</tr>
