<li>
  <table>
    <tr>
      <th>Account:</th>
      <td><%= account.username %></td>
    </tr>

    <% unless account.names.empty? %>
      <tr>
        <th>Names:</th>
        <td>
          <ul>
            <%= render :partial => 'name', :collection => account.names %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.nicks.empty? %>
      <tr>
        <th>Nicknames:</th>
        <td>
          <ul>
            <%= render :partial => 'name', :collection => account.nicks %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.sites.empty? %>
      <tr>
        <th>Sites:</th>
        <td>
          <ul>
            <%= render :partial => 'site', :collection => account.sites %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.services.empty? %>
      <tr>
        <th>Services:</th>
        <td>
          <ul>
            <%= render :partial => 'service', :collection => account.services %>
          </ul>
        </td>
      </tr>
    <% end %>

    <% unless account.portraits.empty? %>
      <tr>
        <th>Portraits:</th>
        <td>
          <ul>
            <%= render :partial => 'portrait', :collection => account.portraits %>
          </ul>
        </td>
      </tr>
    <% end %>

    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <tr>
        <th>Books:</th>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li><%= book.key %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    -->
  </table>
</li>
