<li class="clearfix person">

   <div class="account">
     <a id="<%= account.username %>" href="#<%= account.username %>">→ <%= account.username %></a>
   </div>
   
   <div class="portrait">
     <% if account.portraits.any? %>
        <%= render "portrait", :portrait => account.portraits.first %>
      <% end %>
   </div>
   
   <div class="info">
   <% unless account.names.empty? %>
     <h3>Name</h3>
     <ul class="name">
      <%= render :partial => 'name', :collection => account.names %>
     </ul>
  <% end %>

    <% unless account.nicks.empty? %>
      <h3>Nicknames</h3>
      <ul>
        <%= render :partial => 'name', :collection => account.nicks %>
      </ul>
    <% end %>

    <% unless account.sites.empty? %>
      <h3>Sites</h3>
        <ul>
          <%= render :partial => 'site', :collection => account.sites %>
        </ul>
    <% end %>

    <% unless account.services.empty? %>
      <h3>Services</h3>
        <ul class="collapsed">
          <%= render :partial => 'service', :collection => account.services %>
        </ul>
    <% end %>


    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <tr>
        <td>Books:</td>
        <td>
          <ul>
            <% account.books.each do |book| %>
              <li><%= book.key %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    -->
  </div>
</li>
