<li class="card<%= randomized_styles %>">
  <div class="portrait">
    <div class="frame">
      <div class="photo">
        <% if account.portraits.empty? %>
          <%= image_tag 'user-128x128.png' %>
        <% else %>
          <%= render :partial => 'portrait', :collection => account.portraits %></div>
        <% end %>
      </div>
    </div>
  </div>
  <section>
    <h2><%= account.username %></h2>
    <% unless account.names.empty? && account.nicks.empty? %>
      <ul class="info">
        <% unless account.names.empty? %>
          <%= render :partial => 'name', :collection => account.names, :locals => {:class_name => 'name'} %>
        <% end %>
        <% unless account.nicks.empty? %>
          <%= render :partial => 'name', :collection => account.nicks, :locals => {:class_name => 'nicks'} %>
        <% end %>
      </ul>
    <% end %>
    <% unless account.sites.empty? %>
      <ul class="sites">
        <%= render :partial => 'site', :collection => account.sites %>
      </ul>
    <% end %>

    <% unless account.services.empty? %>
      <ul class="services">
        <%= render :partial => 'service', :collection => account.services %>
      </ul>
    <% end %>

    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <ul class="books">
        <% account.books.each do |book| %>
          <li><%= book.key %></li>
        <% end %>
      </ul>
    <% end %>
    -->
  </section>
</li>
