<div class='account'>
  <div class='meishi'>
    <div class='ohai'>
      <div class='portrait'>
        <% if account.portraits.empty? %>
          <%= image_tag '/images/icon-avatar.png' %>
        <% else %>
          <%= image_tag account.portraits.reverse.first.url %>
        <% end %>
      </div>
      <% unless account.names.empty? %>
        <ul class='names'>
          <%= render :partial => 'name', :collection => account.names.reverse %>
        </ul>
      <% end %>
      <% unless account.nicks.empty? %>
        <ul class='nicks'>
          <h3 class='aka'>A.K.A</h3>
          <%= render :partial => 'name', :collection => account.nicks %>
        </ul>
      <% end %>
    </div>
    <div class='details' style='display:none'>
      <div class='header'>
        <ul class='names'>
          <%= render :partial => 'name', :collection => account.names.reverse %>
        </ul>
      </div>
      <ul class='navigation'>
        <%= content_tag :li do -%>
          <%= link_to 'Social', '#', :onclick => 'Navigation.tab(this); return false;', :rel => 'services' %>
        <% end unless account.services.empty? -%>
        <%= content_tag :li do -%>
          <%= link_to 'Sites', '#', :onclick =>
          'Navigation.tab(this); return false;', :rel => 'sites' %>
        <% end unless account.sites.empty? -%>
        <%= content_tag :li do -%>
          <%= link_to 'Books', '#', :onclick => 'Navigation.tab(this); return false;', :rel => 'books' %>
        <% end unless account.books.empty? -%>
     </ul>
      <div class='content'>
        <% unless account.services.empty? %>
          <ul class='services' style='display:none;'>
            <%= render :partial => 'service', :collection => account.services %>
          </ul>
        <% end %>
        <% unless account.sites.empty? %>
            <ul class='sites external-links' style='display:none;'>
              <%= render :partial => 'site', :collection => account.sites %>
            </ul>
        <% end %>
        <% unless account.books.empty? %>
          <ul class='books' style='display:none;'>
            <% account.books.each do |book| %>
              <li><a href="http://www.amazon.<%= book.isbn.match(/^4/) ? "co.jp":"com" %>/dp/<%= book.isbn %>"><%= book.key %></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class='meishi-bottom'></div>
</div>
