.member
  .column.left
    - unless account.portraits.empty?
      .portraits
        = render :partial => 'portrait', :collection => account.portraits
  .column.right 
    %h2= account.username
    - unless account.names.empty?
      .names 
        %h3 Names
        .item= render :partial => 'name', :collection => account.names
      - unless account.nicks.empty?
        .nicknames 
          %h3 Nicknames
          .item= render :partial => 'name', :collection => account.nicks
      - unless account.sites.empty?
        .sites
          %h3 Sites
          .item= render :partial => 'site', :collection => account.sites
      - unless account.services.empty?
        .services
          %h3 Services
          .item= render :partial => 'service', :collection => account.services
  :erb
    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
    <tr>
    <td>Books:</td>
    <td>
    <ul>
    <% account.books.each do |book| %>
    <li><%= book.key %></li>
    <% end %>
    </ul>
    </td>
    </tr>
    <% end %> -->