<div class="member">
  <div class="sidebar">
    <span class="handle"><%= display_name( account.username ) %></span>    
  </div>
  <div class="title">
    <%= render :partial => 'names', :locals => { :account => account } -%>
    <%= render :partial => 'socials', :object => account.services -%>
  </div>    
  <div class="content">
    <div class="avatars">
      <%= avatar( account ) -%>
    </div>      
    <div class="description">
      <%= render :partial => 'nicks', :object => account.nicks -%>
      <%= render :partial => 'sites', :object => account.sites -%>
    </div>
  </div>
</div>
